@import "./components/about";
@import "./components/gallery";
@import "./components/guide";
@import "./components/header";
@import "./components/hero";
@import "./components/media";
@import "./components/secret";
@import "./components/statistics";
@import "./components/footer";
@import "./utils/variables";

a
{
    text-decoration: none;
}

li
{
    list-style-type: none;
}

.container
{
    max-width: 1285px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width:320px) and (max-width: 1200px)
{ 
    .container 
    {
        max-width: 314px;
    }
    
} 
