@import "../utils/variables";


.footer
{
    background-color: $accent;

    &__logo
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 13px;
    }

    &__logo-text
    {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 23.96px;
        line-height: 81%;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        color: $ui-primary;
        text-wrap: wrap;
    }

    &__logo-highlight
    {
        display: block;
        color: $text-primary;
    }

    &__nav
    {
        display: flex;
        gap: 36px;
        padding: 0px;
        margin-left: 124px;
    }

    &__nav-link
    {
        @extend %footer-typography;
    }

    &__socials-link
    {
        @extend %footer-typography;
    }

    &__socials
    {
        display: flex;
        gap: 22px;
    }

    &__content
    {
        display: flex;
        align-items: center;
    }

    &__meta
    {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__wrapper
    {
        display: flex;
        justify-content: space-between;
        height: 136px;
        align-items: center;
    }

    &__copyright
    {
        @extend %footer-typography;
    }
}

