@import "../utils/variables";

.header
{
    background-image: url(/img/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
    position: relative;


    &__info
    {
        display: flex;
        align-items: flex-end;
    }

    &__video
    {
        width: 444px;
        margin-bottom: 12px;
    }

    &__container
    {
        max-width: 1920px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        
    }

    &__logo
    {
        margin-left: 13px;
        margin-top: 10px;
    }

    &__top
    {
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    &__nav
    {
        display: flex;
    }

    &__control
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 120px;
        width: 88px;
    }

    &__main
    {
        margin: 165px 0px 0px 252px;
    }

    &__title
    {
        color: $text-primary;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin-bottom: 21px;
    }

    &__cta-btn
    {
        background-color: $ui-primary;
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: $text-primary;
        border: none;
        border-radius: 211px;
        padding: 26px 64px;
    }

    &__content-block
    {
        width: 630px;
    }


}

.nav
{

    &__list
    {
        display: flex;
        gap: 62px;
        margin: 0px;
        padding-left: 64px;
        align-items: center;
    }

    &__link
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $text-primary;
    }

}



.hamburger-line
{
    width: 18px;
    height: 2px;
    background-color: $text-primary;
    margin-bottom: 3px;
}



.hamburgerBtn
{
    background-color: transparent;
    border: none;
    gap: 2px;
}





.indicator
{
    display: flex;
    align-items: center;
    gap: 20px ;
    transform: rotate(270deg);
    position: absolute;
    left: -160px;
    top: 420px;

    &__num
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $text-primary;
    }

    &__line
    {
        width: 296px;
        height: 2px;
        background-color: $text-primary;
    }


    &__line--active
    {
        width: 100px;
        height: 4px;
        background-color: $ui-primary;
    }

    &-bar
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
        
}

.side-socials
{
    position: absolute;
    left: -20px;
    top: 970px;
    transform: rotate(270deg);

    &__link
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $text-primary;
    }
    
    &__list
    {
        display: flex;
        gap: 30px;
    }
}

   

.info-card
{

    margin: 228px 0px 0px 245px;
        
    &__number
    {
        margin: 41px 0px 15px 70px;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $ui-primary;
    }
    &__item
    {
        width: 400px;
        height: 210px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    &__title
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 26.41px;
        line-height: 41.08px;
        letter-spacing: 0px;
        color: $text-primary;
        margin: 0px 0px 0px 70px;
    }
    &__text
    {
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #939393;
        margin-left: 70px;
        width: 210px;
    }

    &__list
    {
        display: flex;
        padding: 0px;
    }

}
