@import "../utils/variables";
@import "../utils/placeholder";
@import "../utils/mixins";

.header
{
    background-image: url(/img/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
    position: relative;

    &__logo
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 13px;
    }

    &__logo-text
    {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 23.96px;
        line-height: 81%;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        color: $text-primary;
        text-wrap: wrap;

    }

    &__logo-highlight
    {
        display: block;
        background: linear-gradient( to bottom, $text-primary 7.41%, #018394 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    

    &__info
    {
        display: flex;
        align-items: flex-end;
    }

    &__video
    {
        width: 444px;
        margin-bottom: 12px;
    }

    &__container
    {
        max-width: 1920px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        
    }

    &__heading
    {
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }

    &__nav
    {
        display: flex;
    }

    &__control
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 120px;
        width: 88px;
    }

    &__main
    {
        margin: 165px 0px 0px 252px;
    }

    &__title
    {
        color: $text-primary;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin-bottom: 21px;
    }

    &__btn 
    {
        @include button(20px, 26px 64px, 211px);
        vertical-align: middle;
    }

    &__content-block
    {
        width: 630px;
    }

    &__logo-svg
    {
        width: 49px;
        height: 49px;
    }


}

.nav
{

    &__list
    {
        display: flex;
        gap: 62px;
        margin: 0px;
        padding-left: 64px;
        align-items: center;
    }

    &__link
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $text-primary;
    }

}



.hamburger-line
{
    width: 18px;
    height: 2px;
    background-color: $text-primary;
    margin-bottom: 3px;
}



.hamburger-btn
{
    background-color: transparent;
    border: none;
    gap: 2px;
}





.indicator
{
    display: flex;
    align-items: center;
    gap: 20px ;
    transform: rotate(270deg);
    position: absolute;
    left: -160px;
    top: 420px;

    &__num
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $text-primary;
    }

    &__line
    {
        width: 296px;
        height: 2px;
        background-color: $text-primary;
    }


    &__line--active
    {
        width: 100px;
        height: 4px;
        background-color: $ui-primary;
    }

    &-bar
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
        
}

.side-socials
{
    position: absolute;
    left: -20px;
    top: 970px;
    transform: rotate(270deg);

    &__link
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $text-primary;
    }
    
    &__list
    {
        display: flex;
        gap: 30px;
    }
}

   

.info-card
{

    margin: 228px 0px 0px 245px;
        
    &__number
    {
        margin: 41px 0px 15px 70px;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $ui-primary;
    }
    &__item
    {
        width: 400px;
        height: 210px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    &__title
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 26.41px;
        line-height: 41.08px;
        letter-spacing: 0px;
        color: $text-primary;
        margin: 0px 0px 0px 70px;
    }

    &__text
    {
        @include text-base;
        letter-spacing: 0.5px;
        color: #939393;
        margin-left: 70px;
        width: 210px;
    }

    &__list
    {
        display: flex;
        padding: 0px;
    }

}

.menu-overlay
{
    display: none;
}


@media (min-width: 320px) and (max-width: 1200px) 
{
    .header 
    {   
        background-size: cover;
        z-index: 10;

        &__container 
        {
          max-width: 314px;
        } 

        &__control 
        {
            margin: 0;
            width: 67px;
        } 

        &__logo 
        {
          margin: 0; 

          &-svg 
          {
            width: 42px;
            height: 42px;
          }  

          &-text 
          {
            font-size: 20.84px;
            letter-spacing: 0.27px;
          }
        } 

        &__title 
        {
          font-size: 58.15px;
          line-height: 63px;
          letter-spacing: 0%;
          margin: 45px 0 8px 0;
        } 
        
        &__content-block 
        {
          width: 100%;
        } 

        &__main 
        {
          margin: 0;
        } 

        &__btn 
        {
          @include button(20px, 21px 85px, 211px);
          text-wrap: nowrap;
        } 

        &__video 
        {
          width: 314px;
          margin-bottom: 12px;
        } 

        &__info 
        {
          display: flex;
          flex-wrap: wrap;
        }
    }   

    .indicator,
    .side-socials,
    .nav__list 
    {
      display: none;
    }   

    .info-card 
    {

      margin: 54px 0 0 0;   
      &__item 

      {
        width: 314px;
        height: 157px;
      } 

      &__list 
      {
        flex-wrap: wrap;
        margin: 0;
      } 

      &__number 
      {
        margin: 20px 0 4px 32px;
      } 

      &__title 
      {
        margin: 0 0 4px 32px;
      } 

      &__text 
      {
        @include text-base-mobile;
        margin: 0 0 0 32px;
      }

    }   
    .menu-overlay 
    {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in-out;
      z-index: 100;
      display: block;
      background-color: #b07b5a;    

      &.active 
      {
        transform: translateX(0);
      }

    }   
    .close-btn 
    {
      background-color: transparent;
      border: 0;
      width: 40px;
      height: 40px;
      color: $text-primary;
      font-size: 32px;
      font-weight: 900;
      position: absolute;
      right: 15px;
      top: 15px;   

      &:hover 
      {
        color: #1c8891;
      }
    }   

    .menu-content 
    {
      margin-top: 48px;
      margin-left: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      width: 220px;
    }   

    .menu__links 
    {
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 2%;
      text-align: center;
      color: $text-primary;
    }   

    .menu-social 
    {
      display: flex;
      margin-left: 40px;
      margin-top: 64px; 

      &__item 
      {
        border-right: 2px solid #1c8891;
        padding-right: 10px;
        padding-left: 10px;
      } 

      li:last-child 
      {
        border-right: none;
      }

    }   

    .social__links 
    {
        color: $text-primary;
        text-decoration: none;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 2%;
    }   

    .menu-contact 
    {
        margin-top: 302px;
        margin-left: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        gap: 32px;      
        &__item 
        {
          width: 300px;
          display: flex;
          gap: 10px;
        }   
    }   

    .item__email 
    {
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: $text-primary;
        text-decoration: none;
    }   

    .item__number 
    {
        text-decoration: none;
        color: $text-primary;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 2%;
    }
}