@import "../utils/variables";
@import "../utils/placeholder";
@import "../utils/mixins";

.hero
{
    padding-top: 207px;
    padding-bottom: 105px;

    &__item
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 130px;
        margin-bottom: 192px;
    }

    &__img
    {
        width: 630px;
        height: 460px;
    }

    &__title
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0px;
        color: $text-primary;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    &__desc
    {
        @include text-base;
        letter-spacing: 1%;
        color: $text-secondary;
        opacity: 0.9;
        margin: 0px 0px 32px 0px;

    }

    &__btn 
    {
        @include button(18px, 16px 40px, 32px);
    }

    &__item:nth-child(2)
    {
        flex-direction: row-reverse;

    }

    &__bg
    {
        background-image: url(/img/hero_bg.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__list
    {
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width:320px) and (max-width: 1200px)
{
    .hero
    {
        padding-top: 40px;
        padding-bottom: 48px;
            
        &__bg
        {
            background-size: cover;
            height: 1384px;
        }

        &__img
        {
            width: 314px;
            height: 232px;
            object-fit: cover;
        }

        &__item
        {

            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 56px;
        }

        &__desc
        {
            @include text-base-mobile;
        }

        &__btn
        {
            @include button(18px, 22px 108px, 32px);
            text-wrap: nowrap;
        }

    }

}

