@import "../utils/variables";
@import "../utils/placeholder";
@import "../utils/mixins";

.media
{
    height: 1388px;

    &__top
    {
        padding: 140px 0px 71px 0px ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: $accent;
        margin: 0px;
    }

    &__desc
    {
        @include text-base;
        letter-spacing: 1%;
        text-align: center;
        color: $text-info;
        width: 500px;
    }

    &__gallery
    {
        position: relative;
        width: 1170px;
        height: 770px;
        margin: 0 auto;
        overflow: hidden;
    }

    &__image
    {
        position: absolute;
    }

    &__image:nth-child(2)
    {
        bottom: 0;
        left: 0;
    }

    &__image:nth-child(3)
    {
        top: 0;         
        left: 50%;          
        transform: translateX(-50%);
    }

    &__image:nth-child(4)
    {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__image:nth-child(5)
    {
        top: 0;
        right: 0;
    }


    &__image:nth-child(6)
    {
        bottom: 0;
        right: 0;
    }
}

@media (min-width:320px) and (max-width: 1200px)
{
    .media
    {
        height: 752px;
    }

    .media__top
    {
        padding: 32px 0px 40px 0px;
    }

    .media__title
    {
        font-size: 40px;
        line-height: 46px;

    }
    .media__desc
    {
        width: 100%;
        @include text-base-mobile;
    }
    
    .media__gallery
    {
        width: 314px;
        height: 480px;
    }

    .media__image
    {
        border-radius: 10px;
    }

    .media__image:nth-child(1)
    {
        width: 151px;
        height: 217px;
    }

    .media__image:nth-child(2)
    {
        top: 55%;
        left: 0;
        transform: translateY(-45%);
        width: 151px;
        height: 86px;
    }

    .media__image:nth-child(3)
    {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
        width: 151px;
        height: 86px;
    }

    .media__image:nth-child(4)
    {
        top: 45%;
        left: 52%;
        transform: translateX(-48%);
        transform: translateY(-55%);
        width: 151px;
        height: 217px;
    }

    .media__image:nth-child(5)
    {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        width: 150px;
        height: 153px;
    }


    .media__image:nth-child(6)
    {
        bottom: 0;
        right: 0;
        width: 150px;
        height: 153px;
    }
}
