@import "../utils/variables";


.statistic
{
    &__title
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 60px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: $text-primary;
        margin: 0px 0px 35px 0px;
        width: 100%;
    }

    &__desc
    {
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;
        text-align: center;
        color: $text-secondary;
        opacity: 0.9;
        width: 484px;
        margin: 0px;
    }

    &__data
    {
        margin-top: 0px;
    }

    &__value
    {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 42.14px;
        line-height: 49.16px;
        letter-spacing: 0.39px;
        text-align: center;
        color: $ui-primary;

    }

    &__text
    {
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.5px;
        text-align: center;
        opacity: 0.9;
        color: $text-secondary;
    }


    &__top
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__list
    {
        display: flex;
        gap: 100px;
        padding: 0px;
    }
}


