@mixin button($font-size, $padding, $radius) 
{
  font-family: "DM Sans";
  font-weight: 700;
  font-size: $font-size;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: $text-primary;
  background-color: $ui-primary;
  border: none;
  border-radius: $radius;
  padding: $padding;
}

@mixin text-base 
{
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

@mixin text-base-mobile 
{
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}